# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/bower_components/
/node_modules/
/DatabaseExample/node_modules/
/ModuleExample/node_modules/
/DefaultExample/node_modules/
/ViewExample/node_modules/
/PassportExample/node_modules/
/PassportExample2/node_modules/